<script type="text/javascript" src="javascripts/update.js"></script>

<div class="right" style="float: right;">
  <a class="new_btn" href="/tasks/new">New Task</a>
</div>

<h1>Tasks</h1>

<hr><br>

<% if @tasks %>

  <form class="" action="/tasks" method="post">
    <input type="hidden" name="_method" value="PATCH">

    <% @tasks.each do |task| %>
      <div class="task">

        <label class="container">
          <input type="checkbox" name="task_id" onchange="update_tasks(this)" value="<%= task.id %>" <%= "checked" if task.complete %>>  <%= task.title %>
          <span class="checkmark"></span>

          <div class="option-text">
            <a class="EditButton" href="/tasks/<%= task.id %>/edit">Edit</a>
            <a class="DeleteButton" id="delete-<%= task.id %>" onclick="delete_task(this)" href="#<%= task.id %>/delete">Delete</a>
          </div>

          <!-- <a class="option_text" href="#description">Description</a> -->
        </label>

        <p class="task_description"><%= task.description %></p>

      </div>
    <% end %>


    <input type="submit" id="update_task_btn" hidden>
  </form>

<% else %>

  <h2>No Tasks to List!</h2>

<% end %>
