<script type="text/javascript" src="javascripts/update.js"></script>

<div class="right" style="float: right;">
  <button type="button" class="myButton" onclick="window.location.pathname = '/clear-complete';">Clear Complete</button>
  <button type="button" class="myButton" onclick="window.location.pathname = '/tasks/new';">New Task</button>
  <!-- <a class="new_btn" href="/tasks/new">New Task</a> -->
</div>

<h1 class="white-font">Tasks</h1>

<hr><br>

<div style="float: right;">
  <span style="display: flex;">
    <div class="box high-priority"></div>High
    <div class="box medium-priority"></div>Medium
    <div class="box low-priority"></div>Low
    <div class="box expired-priority"></div>Expired
  </span>
</div>

<br/>


<% if @tasks %>

  <form class="" action="/tasks" method="post">
    <input type="hidden" name="_method" value="PATCH">

    <% @user.sort_tasks_by_priority.each do |task| %>
      <!-- <div class="task"> -->
      <div class="<%= task.due_time && task.past_due? ? "task-expired" : "task" %>">

        <label class="container">
          <input type="checkbox" name="task_id" onchange="update_tasks(this)" value="<%= task.id %>" <%= "checked" if task.complete %>>  <%= task.title %>
          <span class="checkmark <%= task.priority ? task.priority.downcase : nil %>-priority"></span>

          <span class="priority-level"> - Priority: <b class="<%= task.priority ? task.priority.downcase : nil %>-priority-text"><%= task.priority %></b> - </span>

          <div class="option-text">
            <a class="EditButton" href="/tasks/<%= task.id %>/edit">Edit</a>
            <a class="DeleteButton" id="delete-<%= task.id %>" onclick="delete_task(this)" href="#<%= task.id %>/delete">Delete</a>
          </div>

          <!-- <a class="option_text" href="#description">Description</a> -->
        </label>

        <p class="task_description"><%= task.description %></p>

        <% if task.due_time %>
          <b>Due Time:</b> <%= !!task.due_time ? task.due_time.to_time.strftime("%c") : "None" %>
        <% end %>

      </div>
    <% end %>


    <input type="submit" id="update_task_btn" hidden>
  </form>

  <hr>

  <a class="blue-btn" href="/users/<%= @user.id %>">Account Settings</a>

<% else %>

  <h2>No Tasks to List!</h2>

<% end %>
