

<% if current_user.tasks.include?(@task) %>
  <div class="right" style="float:right;">
    <a class="EditButton" style="display: block;" href="/tasks/<%= @task.id %>/edit" >Edit Task</a><br>
    <form class="" action="/tasks/<%= @task.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input class="DeleteButton" type="submit" name="delete_task" value="Delete Task">
    </form>
  </div>
<% end %>

<h1 class="white-font"><%= @task.title %></h1>

Priority:
<span class="<%= @task.priority.downcase if @task.priority %>-priority"style="font-weight: bold;"><%= @task.priority %></span>

<br /><br />

<h4><%= @task.description %></h4>

<br>
<% if @task.due_time %>
  Due Time: <span><%= @task.due_time.to_time.strftime("%a %b %e, %Y at %I:%M %p") %></span><span style="color: red; font-weight: 100;"><%= " [Expired]" if @task.past_due? %></span>
<% end %>
